// Heading-Large

.heading-large {
    font-family: $heading-font;
    font-size: $font-large;
}

// Heading-Medium

.heading-large {
    font-family: $heading-font;
    font-size: $font-large;
}

// Heading-Small

.heading-small {
    font-family: $heading-font;
    font-size: $font-small;
}