// Containers
.container-ipad {
    max-width: 120rem;
    margin: 0 auto;
}

// Text Decorations
.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

// Text Aligns
.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

// Font Colors
.red {
    color: $primary-color-red;
}

.yellow {
    color: $primary-color-yellow;
}

.blue {
    color: $primary-color-blue;
}

// Margins
.margin-t-large {
    margin-top: 6rem;
}

.margin-t-medium {
    margin-top: 4rem;
}

.margin-t-small {
    margin-top: 2rem;
}


.margin-b-large {
    margin-bottom: 6rem;
}

.margin-b-medium {
    margin-bottom: 4rem;
}

.margin-b-small {
    margin-bottom: 2rem;
}