$primary-color-red: #DA3731;
$primary-color-yellow: #FFF202;
$primary-color-blue: #4C5C6C;

$color-white: #fff;
$color-black: #282828;
$color-grey: #A9A9A9;

$font-large: 3.6rem;
$font-medium: 2.4rem;
$font-small: 1.4rem;
