.banner {
    position: relative;
    height: 90rem;
    z-index: 0;
    top: -10rem;

    @include respond(phone) {
        height: 80vh;
        top: -6rem;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    }

    &__photo {
        background-image: url('./assets/Blurred-bg.jpg');
        background-size: cover;
        background-position: center;
        height: 100%;
        

        @include respond(phone) {
            background-image: linear-gradient(
            to right bottom, 
            rgba($primary-color-blue, 0.8), 
            rgba($color-white, 0.8)) , 
            url('./assets/Blurred-bg.jpg');
            height: 100%;
        }
    }

    &__video {
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 45%;
        transform: translate(-50%, -50%);

        @include respond(phone) {
            top: 30%;
        }
    }

    .video-size {
        width: 640px;
        height: 360px;
        border: solid 4px $primary-color-blue;

        transform: scale(1.1);

        @include respond(phone) {
            width: 256px;
            height: 144px;
            transform: scale(0.9);
        }
    }

    .button-container {
        z-index: 1;
        position: absolute;
        left: 50%;
        top: 80%;
        transform: translate(-50%, -50%);

        @include respond(phone) {
            top: 55%;
        }
    }

    .apply-now {
        background-color: $primary-color-red;
        border-radius: 50px;
        border: none;
        color: $color-white;
        outline: none;
        transition: .2s all;
        box-shadow: $shadow-origin;

        width: 40rem;
        height: 8.5rem;
        font-size: $font-large;

        @include respond(phone) {
            width: 20rem;
            height: 4rem;
            font-size: $font-medium;
        }

        &:hover {
            transform: scale(1.03);
            box-shadow: $shadow-hover;
            cursor: pointer;

        }

        &:active {
            transform: scale(1);
            background-color: $primary-color-yellow;
            color: $color-black;
            box-shadow: $shadow-origin;
        }
    }

    .learn-more {
        display: none;

        z-index: 1;
        position: absolute;
        top: 80%;
        text-align: center;
        width: 100%;
        margin: 0 auto;  
        color: $color-white;  

        @include respond(phone) {
            display: inline-block; 
        }

        &__text {
            font-size: 2.4rem;
        }

        &__symbol {
            transform: rotate(90deg);
            position: relative;
            top: -1rem;

            animation: arrowBounce 5s infinite;

        }
    }
}

.ref {
    position: relative;
    top: -10rem;
}

@keyframes arrowBounce {
    0% { top: -1rem; }

    65% { top: -1rem; }
    72% { top: 0px; }
    79% { top: -1rem; }

    80% { top: -1rem; }
    87% { top: 0px; }
    94% { top: -1rem; }

    100% { top: -1rem; }
}