.banner {
    position: relative;
    height: 99vh;
    z-index: 0;
    top: -10rem;

    @include respond(tab-land) {
        height: 99vh;
        top: -7rem;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
    }

    @include respond(phone) {
        height: 80vh;
        top: -6rem;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    }

    &__container {
        height: 100%;
        overflow: hidden;
        border-bottom: solid 5px $primary-color-red;

        @include respond(tab-land) {
            display: none;
        }
    }

    &__web-hero {
        position: relative;
        top: 50%;
        left: 50%;
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    } 

    &__photo {
        background-image: url('./assets/Banner/Blurred-bg-1x.jpg');
        background-size: cover;
        background-position: center;
        height: 100%;
        display: none;

        @media (min-resolution: 192dpi) and (min-width: 37.5em),
                (min-width: 125em) {
            background-image: url('./assets/Banner/Blurred-bg-2x.jpg');
        }
        
        @include respond(tab-land) {
            background-image: linear-gradient(
                to right bottom, 
                rgba($primary-color-blue, 0.8), 
                rgba($color-white, 0.8)) , 
                url('./assets/Banner/Blurred-bg-1x.jpg');
            height: 100%;
            display: block;
        }

        @include respond(phone) {
            background-image: linear-gradient(
                to right bottom, 
                rgba($primary-color-blue, 0.8), 
                rgba($color-white, 0.8)) , 
                url('./assets/Banner/Blurred-bg-1x.jpg');
            height: 100%;
        }
    }

    &__video {
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        display: none;

        @include respond(tab-land) {
            top: 38%;
            display: block;
        }

        @include respond(phone) {
            top: 35%;
        }
    }

    .video-size {
        width: 629px;
        height: 358px;
        border: solid 4px $primary-color-blue;
        transform: scale(1.1);

        @include respond(tab-port) {
            width: 535px;
            height: 304px;
            transform: scale(0.9);
        }


        @include respond(phone) {
            width: 308px;
            height: 175px;
            transform: scale(0.9);
        }
    }

    .button-container {
        z-index: 1;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        @include respond(tab-land) {
            top: 72%;
        }

        @include respond(phone) {
            top: 60%;
        }
    }

    .apply-now {
        background-color: $primary-color-red;
        border-radius: 50px;
        border: none;
        color: $color-white;
        outline: none;
        transition: .2s all;
        box-shadow: $shadow-origin;

        width: 40rem;
        height: 8.5rem;
        font-size: $font-large;

        @include respond(phone) {
            width: 20rem;
            height: 4rem;
            font-size: $font-medium;
        }

        &:hover {
            transform: scale(1.03);
            box-shadow: $shadow-hover;
            cursor: pointer;

        }

        &:active {
            transform: scale(1);
            background-color: $primary-color-yellow;
            color: $color-black;
            box-shadow: $shadow-origin;
        }
    }

    .learn-more {
        z-index: 1;
        position: relative;
        top: -20%;
        text-align: center;
        width: 20rem;
        margin: 0 auto;  
        color: $color-white;
        cursor: pointer;

        @include respond(tab-land) {
            color: $color-white;
            top: -20%;
        }

        @include respond(phone) {
            top: -20%;
        }

        &__text {
            width: 20rem;
            margin: 0 auto;
            font-size: 2.4rem;
            font-weight: bold;
        }

        &__symbol {
            transform: rotate(90deg);
            display: inline-block;
            position: relative;
            top: -2rem;
            animation: arrowBounce 5s infinite;
        }
    }
}

.ref {
    position: relative;
    top: -10rem;
}

@keyframes arrowBounce {
    0% { top: -2rem; }

    65% { top: -2rem; }
    72% { top: 0px; }
    79% { top: -2rem; }

    80% { top: -2rem; }
    87% { top: 0px; }
    94% { top: -2rem; }

    100% { top: -2rem; }
}