.navigation {
    background-color: rgba($color: $color-white, $alpha: 0);
    height: 10rem;
    width: 100%;
    z-index: 10;
    position: sticky;
    top: 0;

    transition: .4s all;

    @include respond(phone) {
        height: 6rem;
    }

    &__container {
        position: relative;
        text-align: center;
        top: 2rem;
        z-index: 10;

        cursor: pointer;
    }

    .logo {
        position: absolute;
        width: 20rem;

        opacity: 0;
        transform: translate(-50%, -20px);

        animation: fadeLogo 20s;
        animation-iteration-count: infinite;

        transition: .4s all;

        @include respond(phone) {
            width: 10rem;
        }
    }

    .join {
        position: absolute;
        width: 40rem;
        z-index: 10;
        top: -1rem;

        opacity: 0;
        transform: translate(-50%, 20px);

        animation: fadeJoin 20s;
        animation-iteration-count: infinite;

        transition: .4s all;

        @include respond(phone) {
            width: 16.5rem;
        }
    }
}

.navigation-fixed {
    background-color: rgba($color: $color-white, $alpha: .95);
    height: 10rem;
    width: 100%;
    z-index: 10;
    position: sticky;
    top: 0;
    box-shadow: $shadow-large;

    transition: .4s all;

    @include respond(phone) {
        height: 5.5rem;
        transition: .4s all;
    }

    &__container {
        position: relative;
        text-align: center;
        top: 1.8rem;
        z-index: 10;

        cursor: pointer;
    }

    .logo {
        position: absolute;
        width: 20rem;

        opacity: 0;
        transform: translate(-50%, -20px);

        animation: fadeLogo 20s;
        animation-iteration-count: infinite;

        transition: .4s all;

        @include respond(phone) {
            width: 10rem;
            top: -.5rem;
        }
    }

    .join {
        position: absolute;
        width: 40rem;
        z-index: 10;
        top: -1rem;

        opacity: 0;
        transform: translate(-50%, 20px);

        animation: fadeJoin 20s;
        animation-iteration-count: infinite;

        transition: .4s all;

        @include respond(phone) {
            width: 16.5rem;
            top: -.5rem;
        }
    }
}

@keyframes fadeLogo {
    0% { opacity: 0; transform: translate(-50%, -20px); }
    5% { opacity: 1; transform: translate(-50%, 0px); }
    40% { opacity: 1; transform: translate(-50%, 0px); }
    50% { opacity: 0; transform: translate( -50%, 20px); }
    100% { opacity: 0; transform: translate(-50%, -20px); }
}

@keyframes fadeJoin {
    0% { opacity: 0; transform: translate(-50%, -20px); }
    45% { opacity: 0; transform: translate(-50%, -20px); }
    55% { opacity: 1; transform: translate(-50%, 0px); }
    95% { opacity: 1; transform: translate(-50%, 0px); }
    100% { opacity: 0; transform: translate(-50%, 20px); }
    
}