.navigation {
    background-color: #BBCDD7;
    height: 8rem;
    width: 100%;

    .logo {
        width: 16rem;
        position: relative;
        top: 1.8rem;
    }

    .join {
        width: 30rem;
        position: relative;
        top: 1rem;
        float: right;
    }
}