.navigation {
    background-color: rgba($color: $color-white, $alpha: .95);
    height: 7rem;
    width: 100%;
    z-index: 10;
    position: sticky;
    top: 0;
    box-shadow: $shadow-large;

    transition: .4s all;

    @include respond(tab-phone) {
        background-color: rgba($color: $color-white, $alpha: 0);
    }

    @include respond(phone) {
        height: 6rem;
    }

    &__container {
        position: relative;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        top: .5rem;
        z-index: 10;
        cursor: pointer;
        transition: .3s all;

        &:hover {
            transform: scale(1.02);
        }

        @include respond(phone) {
            top: 1.4rem;
        }
    }
}

.navigation-fixed {
    background-color: rgba($color: $color-white, $alpha: .95);
    height: 7rem;
    width: 100%;
    z-index: 10;
    position: sticky;
    top: 0;
    box-shadow: $shadow-large;

    transition: .4s all;

    @include respond(phone) {
        height: 5.5rem;
        transition: .4s all;
    }
}

.logo {
    position: absolute;
    width: 20rem;

    opacity: 0;
    transform: translate(-50%, -20px);

    animation: fadeLogo 20s;
    animation-iteration-count: infinite;

    transition: .4s all;

    @include respond(phone) {
        width: 10rem;
    }
}

.join {
    position: absolute;
    width: 30rem;
    z-index: 10;
    top: 0rem;

    opacity: 0;
    transform: translate(-50%, 20px);

    animation: fadeJoin 20s;
    animation-iteration-count: infinite;

    transition: .4s all;

    @include respond(phone) {
        width: 16.5rem;
    }
}

@keyframes fadeLogo {
    0% { opacity: 0; transform: translate(-50%, -20px); }
    5% { opacity: 1; transform: translate(-50%, 0px); }
    40% { opacity: 1; transform: translate(-50%, 0px); }
    50% { opacity: 0; transform: translate( -50%, 20px); }
    100% { opacity: 0; transform: translate(-50%, -20px); }
}

@keyframes fadeJoin {
    0% { opacity: 0; transform: translate(-50%, -20px); }
    45% { opacity: 0; transform: translate(-50%, -20px); }
    55% { opacity: 1; transform: translate(-50%, 0px); }
    95% { opacity: 1; transform: translate(-50%, 0px); }
    100% { opacity: 0; transform: translate(-50%, 20px); }
    
}