.quotes {

    // Row 1
    max-width: 120rem;
    margin: 0 auto;
    text-align: center;

    @include respond(tab-land) {
        max-width: 100rem;
    }

    @include respond(tab-port) {
        max-width: 75rem;
    }

    @include respond(phone) {
        max-width: 35rem;
    }

    &__row-1 {
        display: flex;

        @include respond(tab-port) {
            flex-direction: column;
        }

        @include respond(phone) {
            flex-direction: column;
        }
    }

    &__photo-1 {
        height: 60rem;
        margin-right: 5rem;

        @include respond(tab-land) {
            height: 40rem;
        }

        @include respond(tab-port) {
            height: 40rem;
            margin: 0 auto;
        }

        @include respond(phone) {
            height: 30rem;
            margin: 0 auto;
        }
    }

    &__text-1 {
        margin-top: 15rem;
        margin-left: 5rem;
        padding-right: 5rem;

        @include respond(tab-land) {
            margin-top: 10rem;
            margin-left: 5rem;
            padding-right: 5rem;
        }

        @include respond(tab-port) {
            margin: 0;
            padding: 0;
        }
    }

    &__heading1 {
        text-transform: uppercase;
        font-size: 2.8rem;
        font-weight: bold;
        color: $primary-color-red;
        margin-bottom: 1rem;

        @include respond(phone) {
            font-size: 2.4rem;
            margin-bottom: 2rem;
        }
    }

    &__paragraph1 {
        font-size: 1.8rem;
        font-family: $paragraph-font;
        color: $primary-color-blue;
        line-height: 3.5rem;

        @include respond(phone) {
            font-size: 1.4rem;
            line-height: 3rem;
        }
    }
    

    // Row 2
    &__row-2 {
        display: flex;
        margin-top: -15rem;

        @include respond(tab-land) {
            margin-top: -5rem;
        }

        @include respond(tab-port) {
            flex-direction: column-reverse;
            margin: 0 auto;
        }
    }

    &__photo-2 {
        height: 60rem;
        margin-left: 10rem;

        @include respond(tab-land) {
            height: 40rem;
        }

        @include respond(tab-land) {
            height: 40rem;
            margin: 0 auto;
        }

        @include respond(phone) {
            height: 30rem;
            margin: 0 auto;
        }
    }
    
    &__text-2 {
        margin-top: 25rem;
        margin-right: 5rem;

        @include respond(tab-land) {
            margin-top: 10rem;
            margin-right: 5rem;
            padding-left: 5rem;
        }

        @include respond(tab-port) {
            margin: 5rem auto 0;
            padding: 0;
        }

        @include respond(phone) {
            margin: 0;
        }
    }

    &__heading2 {
        text-transform: uppercase;
        font-size: 2.8rem;
        font-weight: bold;
        color: $primary-color-red;
        margin-bottom: 1rem;

        @include respond(phone) {
            font-size: 2.4rem;
        }
    }

    &__paragraph2 {
        font-size: 1.8rem;
        font-family: $paragraph-font;
        color: $primary-color-blue;
        line-height: 3.5rem;

        @include respond(phone) {
            font-size: 1.4rem;
            line-height: 3rem;
        }
    }


    // Row 3
    &__row-3 {
        display: flex;
        margin-top: -5rem;

        @include respond(tab-port) {
            flex-direction: column;
            margin: 0 auto;
        }
    }

    &__photo-3 {
        height: 60rem;
        margin-right: 5rem;

        @include respond(tab-land) {
            height: 40rem;
        }

        @include respond(tab-port) {
            height: 40rem;
            margin: 0 auto;
        }

        @include respond(phone) {
            height: 30rem;
            margin: 0 auto;
        }
    }

    &__text-3 {
        margin-top: 15rem;
        margin-left: 5rem;
        padding-right: 5rem;

        @include respond(tab-land) {
            margin-top: 10rem;
            margin-left: 5rem;
            padding-right: 5rem;
        }

        @include respond(tab-land) {
            margin: 5rem auto 0;
            padding: 0;
        }

        @include respond(phone) {
            margin: 0; 
            padding: 0;
        }
    }

    &__heading3 {
        text-transform: uppercase;
        font-size: 2.8rem;
        font-weight: bold;
        color: $primary-color-red;
        margin-bottom: 1rem;

        @include respond(phone) {
            font-size: 2.4rem;
        }
    }

    &__paragraph3 {
        font-size: 1.8rem;
        font-family: $paragraph-font;
        color: $primary-color-blue;
        line-height: 3.5rem;

        @include respond(phone) {
            font-size: 1.4rem;
            line-height: 3rem;
        }
    }

    // Row 4
    &__row-4 {
        display: flex;
        margin-top: -15rem;

        @include respond(tab-land) {
            margin-top: -5rem;
        }

        @include respond(tab-port) {
            flex-direction: column-reverse;
            margin: 0 auto;
        }
    }

    &__photo-4 {
        height: 60rem;
        margin-left: 10rem;

        @include respond(tab-land) {
            height: 40rem;
        }

        @include respond(tab-port) {
            height: 40rem;
            margin: 0 auto;
        }

        @include respond(phone) {
            height: 30rem;
            margin: 0 auto;
        }
    }
    
    &__text-4 {
        margin-top: 25rem;
        margin-right: 5rem;
        padding-left: 5rem;

        @include respond(tab-land) {
            margin-top: 10rem;
            margin-right: 5rem;
            padding-left: 5rem;
        }

        @include respond(tab-port) {
            margin: 5rem auto 0;
            padding: 0;
        }

        @include respond(phone) {
            margin: 0;
            padding: 0;
        }
    }

    &__heading4 {
        text-transform: uppercase;
        font-size: 2.8rem;
        font-weight: bold;
        color: $primary-color-red;
        margin-bottom: 1rem;

        @include respond(phone) {
            font-size: 2.4rem;
        }
    }

    &__paragraph4 {
        font-size: 1.8rem;
        font-family: $paragraph-font;
        color: $primary-color-blue;
        line-height: 3.5rem;

        @include respond(phone) {
            font-size: 1.4rem;
            line-height: 3rem;
        }
    }
}