.testimonials {
    color: $primary-color-blue;
    margin-top: 8rem;

    @include respond(phone) {
        margin-top: 6rem;
    }

    &__heading1 {
        text-align: center;
        font-size: 4.5rem;

        @include respond(phone) {
            font-size: 3.2rem;
            max-width: 35rem;
            margin: 0 auto;
        }
    }

    &__photos {
        width: 100rem;
        height: 21rem;
        margin: 0 auto;
        position: relative;
        margin-top: 5rem;
        display: flex;
        justify-content: center;

        @include respond(tab-land) {
            width: 90rem;
            height: 20rem;
        }

        @include respond(tab-port) {
            width: 100%;
            height: 18rem;
            margin-top: 3rem;
        }

        @include respond(phone) {
            width: 100%;
            height: 12rem;
            margin-top: 3rem;
        }
    }

    &__box {
        background-color: white;
        height: 100%;
        width: 30%;
        border: solid 4px $primary-color-blue;
        transition: .2s all;
        transform: scale(.95);

        @include respond(tab-land) {
            width: 28%;
        }

        @include respond(tab-port) {
            width: 30%;
        }

        @include respond(phone) {
            width: 33%;
        }

        &:not(:last-child) {
            margin-right: 5rem;

            @include respond(tab-land) {
                margin-right: 3rem;
                text-align: center;
            }

            @include respond(tab-port) {
                margin-right: 2rem;
            }

            @include respond(phone) {
                margin-right: 0;
            }
        }

        &:hover {
            background-color: $primary-color-blue;
            color: $color-white;
            cursor: pointer;
            box-shadow: $shadow-hover;
            transform: scale(1);
        }
        
        &--clicked {
            border: solid 5px $primary-color-red;
            background-color: $primary-color-blue;
            color: $color-white;
            box-shadow: $shadow-hover;
            transform: scale(1);
        }
    }

    &__name {
        text-align: center;
        font-size: 4.5rem;
        padding: 2.5rem 4rem 2.5rem;
        font-weight: bold;

        @include respond(tab-land) {
            font-size: 3.5rem;
            padding: 3.5rem 4rem 2.5rem;
        }

        @include respond(tab-port) {
            font-size: 3.5rem;
            padding: 3rem 4rem 2.5rem;
        }

        @include respond(phone) {
            font-size: 2rem;
            padding: 2.5rem 2rem 1rem;
        }
    }

    &__name--2 {
        text-align: center;
        font-size: 4.5rem;
        padding: 2.5rem 4rem 2.5rem;
        font-weight: bold;
        background-image: url('./assets/Testimonials/Hailey-1x.jpg');
        background-position: center 30%;
        background-size: cover;
        height: 100%;

        @media (min-resolution: 192dpi) and (min-width: 37.5em),
                (min-width: 125em) {
                    background-image: url('./assets/Testimonials/Hailey-2x.jpg');
        }

        @include respond(tab-land) {
            font-size: 3.5rem;
            padding: 3.5rem 4rem 2.5rem;
        }

        @include respond(tab-port) {
            font-size: 3.5rem;
            padding: 3rem 4rem 2.5rem;
        }

        @include respond(phone) {
            font-size: 2rem;
            padding: 2.5rem 2rem 1rem;
        }
    }

    &__triangle {
        height: 5rem;
        transition: 0.3s ease;

        @supports (-webkit-clip-path: polygon(0% 87%, 50% 0%, 50% 0%, 100% 87%)) or (clip-path: polygon(0% 87%, 50% 0%, 50% 0%, 100% 87%)) {
            -webkit-clip-path: polygon(0% 87%, 50% 0%, 50% 0%, 100% 87%);
            clip-path: polygon(0% 87%, 50% 0%, 50% 0%, 100% 87%);
            background-color: $color-grey;
            width: 20rem;
            height: 8.5rem;
            position: relative;
            margin: 0 auto;
            margin-bottom: -1.5rem;
        }

        &--left {
            left: -35rem;
            right: 0;
        }

        &--center {
            left: 0;
        }

        &--right {
            left: 35rem;
        }

        @include respond(tab-land) {
            width: 15rem;
            height: 6rem;

            &--left {
                left: -28rem;
                right: 0;
            }
    
            &--center {
                left: 0;
            }
    
            &--right {
                left: 28rem;
            }
        }

        @include respond(tab-port) {
            width: 8rem;
            height: 4rem;

            &--left {
                left: -32%;
                right: 0;
            }
    
            &--center {
                left: 0;
            }
    
            &--right {
                left: 32%;
            }
        }

        @include respond(phone) {
            width: 8rem;
            height: 4rem;

            &--left {
                left: -33%;
                right: 0;
            }
    
            &--center {
                left: 0;
            }
    
            &--right {
                left: 33%;
            }
        }
    }

    &__testimonial {
        background-color: $color-grey;
        width: 100%;
        height: 110%;
        position: relative;
    }

    &__container {
        max-width: 100rem;
        margin: 0 auto;
        padding-bottom: 5rem;

        @include respond(tab-land) {
            max-width: 90rem;
        }

        @include respond(tab-port) {
            max-width: 75rem;
            padding-bottom: 2rem;
        }

        @include respond(phone) {
            max-width: 35rem;
            padding-bottom: 2rem;
        }
    }

    &__heading2 {
        padding-top: 5rem;
        color: $color-black;
        font-size: 4.5rem;
        margin-bottom: 3rem;
        font-weight: bold;

        @include respond(phone) {
            padding-top: 3rem;
            color: $color-black;
            font-size: 2rem;
            margin-bottom: 2rem;
        }
    }

    &__paragraph {
        font-style: italic;
        font-family: $paragraph-font;
        color: $color-black;
        font-size: 2rem;
        line-height: 3rem;
        margin-bottom: 5rem;

        @include respond(phone) {
            font-size: 1.6rem;
            line-height: 5rem;
            margin-bottom: 3rem;
        }
    }
}

.testimonial-fade-1 {
    animation: fadeIn1 1s;
}

.testimonial-fade-2 {
    animation: fadeIn2 1s;
}

.testimonial-fade-3 {
    animation: fadeIn3 1s;
}

@keyframes fadeIn1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn3 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}