.trucks {
    max-width: 100rem;
    margin: 0 auto;

    &__heading {
        text-transform: uppercase;
        text-align: center;
        color: $primary-color-blue;

        &--1 {
            font-size: 4.5rem;
            margin-top: 6rem;
            text-transform: uppercase;

            @include respond(tab-port) {
                font-size: 3rem;
            }
        }

        &--2 {
            font-size: 2.5rem;

            @include respond(tab-port) {
                font-size: 2rem;
                width: 90%;
                margin: 0 auto 4rem;
            }

            @include respond(phone) {
                font-size: 1.4rem;
                width: 80%;
                margin: 2rem auto;
            }
        }

        &--3 {
            font-size: 2.5rem;
            margin-top: 6rem;

            @include respond(tab-port) {
                font-size: 2rem;
            }

            @include respond(tab-port) {
                font-size: 1.6rem;
                width: 90%;
                margin: 0 auto;
            }
        }

        &--4 {
            font-size: 2.5rem;
            margin-top: 4rem;

            @include respond(tab-port) {
                font-size: 2rem;
            }

            @include respond(tab-port) {
                font-size: 1.6rem;
                width: 90%;
                margin: 4rem auto;
            }
        }

        &--5 {
            font-size: 4.5rem;
            color: $color-white;

            @include respond(tab-port) {
                font-size: 3rem;
            }
        }

        &--6 {
            font-size: 2.5rem;
            margin-top: 2rem;

            @include respond(tab-port) {
                font-size: 2rem;
            }

            @include respond(tab-port) {
                font-size: 1.6rem;
                width: 90%;
                margin: 0 auto;
            }
        }
    }

    &__photos {
        text-align: center;
        margin: 5rem auto 8rem;
        display: flex;
        max-width: 100rem;

        @include respond(tab-port) {
            max-width: 60rem;
        }

        @include respond(phone) {
            margin: 2rem auto 5rem;
        }
    }

    &__photo-1 {
        background-image: url('../../assets/Trucks/Truck-1.jpg');
        background-size: cover;
        background-position: center;
        width: 32rem;
        height: 18rem;
        margin-right: 2rem;
        border: 4px solid $primary-color-blue;
        transition: .3s all ease;

        @include respond(tab-port) {
            width: 30rem;
            height: 13rem;
        }

        @include respond(tab-port) {
            margin-right: .5rem;
            border: 3px solid $primary-color-blue;
        }

        &:hover {
            border: 4px solid $primary-color-red;
            box-shadow: 2px 2px 4px rgba(0,0,0,.4);
        }
    }

    &__photo-2 {
        background-image: url('../../assets/Trucks/Truck-2.jpg');
        background-size: cover;
        background-position: center;
        width: 32rem;
        height: 18rem;
        margin-right: 2rem;
        border: 4px solid $primary-color-blue;
        transition: .3s all ease;

        @include respond(tab-port) {
            width: 30rem;
            height: 13rem;
        }

        @include respond(tab-port) {
            margin-right: .5rem;
            border: 3px solid $primary-color-blue;
        }

        &:hover {
            border: 4px solid $primary-color-red;
            box-shadow: 2px 2px 4px rgba(0,0,0,.4);
        }
    }

    &__photo-3 {
        background-image: url('../../assets/Trucks/Truck-3.jpg');
        background-size: cover;
        background-position: center;
        width: 32rem;
        height: 18rem;
        border: 4px solid $primary-color-blue;
        transition: .3s all ease;

        @include respond(tab-port) {
            width: 30rem;
            height: 13rem;
        }

        @include respond(tab-port) {
            border: 3px solid $primary-color-blue;
        }

        &:hover {
            border: 4px solid $primary-color-red;
            box-shadow: 2px 2px 4px rgba(0,0,0,.4);
        }
    }

    &__list {
        font-size: 2rem;
        width: 90%;
        margin: 4rem auto;
        color: $color-black;

        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: repeat(2, 1fr);

        @include respond(tab-port) {
            font-size: 1.6rem;
            grid-template-rows: repeat(4, 2rem);
            margin: 2rem auto;
            row-gap: 2rem;
            width: 50%;
        }

        @include respond(phone) {
            font-size: 1.4rem;
            width: 60%;
            margin: 0 auto;
        }
    }

    &__list-item-1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;

        margin-right: 8rem;
        margin-bottom: 2rem;
        transition: .3s all ease;
        border-bottom: 2px solid $color-white;

        @include respond(tab-port) {
            grid-column: 1 / -1;
            grid-row: 1 / 2;
            margin: 0;
            border-bottom: none;
        }

        &:hover {
            border-bottom: 2px solid $primary-color-red;

            @include respond(tab-port) {
                border-bottom: none;
            }
        }
    }

    &__list-item-2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        
        margin-right: 0;
        margin-bottom: 2rem;
        transition: .3s all ease;
        border-bottom: 2px solid $color-white;

        @include respond(tab-port) {
            grid-column: 1 / -1;
            grid-row: 2 / 3;
            margin: 0;
            border-bottom: none;
        }

        &:hover {
            border-bottom: 2px solid $primary-color-red;

            @include respond(tab-port) {
                border-bottom: none;
            }
        }
    }

    &__list-item-3 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;

        margin-right: 31rem;
        margin-bottom: 2rem;
        transition: .3s all ease;
        border-bottom: 2px solid $color-white;

        @include respond(tab-port) {
            grid-column: 1 / -1;
            grid-row: 3 / 4;
            margin: 0;
            border-bottom: none;
        }

        &:hover {
            border-bottom: 2px solid $primary-color-red;

            @include respond(tab-port) {
                border-bottom: none;
            }
        }
    }

    &__list-item-4 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;

        margin-right: 13rem;
        margin-bottom: 2rem;
        transition: .3s all ease;
        border-bottom: 2px solid $color-white;

        @include respond(tab-port) {
            grid-column: 1 / -1;
            grid-row: 4 / 5;
            margin: 0;
            border-bottom: none;
        }

        &:hover {
            border-bottom: 2px solid $primary-color-red;

            @include respond(tab-port) {
                border-bottom: none;
            }
        }
    }

    &__safety {
        border: 4px solid $primary-color-red;
        padding: 4rem;
        margin: 8rem auto;
        background-color: $primary-color-blue;

        @include respond(tab-port) {
            max-width: 90%;
        }
    }

    &__paragraph {
        font-size: 2rem;
        max-width: 100rem;
        margin: 0 auto;
        text-align: center;
        margin-top: 4rem;
        color: $color-white;

        @include respond(phone) {
            font-size: 1.6rem;
        }
    }

    &__divider {
        border-bottom: 2px solid $primary-color-red;
        width: 25%;
        margin: 4rem auto 0;
    }

    &__bottom {
        margin-bottom: 6rem;
    }
}